build/ALL_BUILD.vcxproj
build/ALL_BUILD.vcxproj.filters
build/cmake_install.cmake
build/CMakeCache.txt
build/foundcalc.sln
build/INSTALL.vcxproj
build/INSTALL.vcxproj.filters
build/ZERO_CHECK.vcxproj
build/ZERO_CHECK.vcxproj.filters
build/.cmake/api/v1/query/client-vscode/query.json
build/.cmake/api/v1/reply/cache-v2-43c9797251930c02ad9f.json
build/.cmake/api/v1/reply/cmakeFiles-v1-e92bad605c4b2fc63441.json
build/.cmake/api/v1/reply/codemodel-v2-3848ea1c6d46aab2e969.json
build/.cmake/api/v1/reply/directory-.-Debug-ef9ee206ee5c7a5b267b.json
build/.cmake/api/v1/reply/directory-.-Profile-e1f6a9081dbceac8c29e.json
build/.cmake/api/v1/reply/directory-.-Release-92945eb78c9c742e0a7e.json
build/.cmake/api/v1/reply/directory-flutter-Debug-79e0260f2327d8493c28.json
build/.cmake/api/v1/reply/directory-flutter-Profile-79e0260f2327d8493c28.json
build/.cmake/api/v1/reply/directory-flutter-Release-79e0260f2327d8493c28.json
build/.cmake/api/v1/reply/directory-runner-Debug-86f38b7dcb6f33eb04e4.json
build/.cmake/api/v1/reply/directory-runner-Profile-86f38b7dcb6f33eb04e4.json
build/.cmake/api/v1/reply/directory-runner-Release-86f38b7dcb6f33eb04e4.json
build/.cmake/api/v1/reply/index-2025-04-16T03-44-42-0520.json
build/.cmake/api/v1/reply/target-ALL_BUILD-Debug-58b1acde7b057cbd64bf.json
build/.cmake/api/v1/reply/target-ALL_BUILD-Debug-0578d4e2ec78f14fff25.json
build/.cmake/api/v1/reply/target-ALL_BUILD-Profile-58b1acde7b057cbd64bf.json
build/.cmake/api/v1/reply/target-ALL_BUILD-Profile-0578d4e2ec78f14fff25.json
build/.cmake/api/v1/reply/target-ALL_BUILD-Release-58b1acde7b057cbd64bf.json
build/.cmake/api/v1/reply/target-ALL_BUILD-Release-0578d4e2ec78f14fff25.json
build/.cmake/api/v1/reply/target-flutter_assemble-Debug-89e4aa002af9d54cbc7d.json
build/.cmake/api/v1/reply/target-flutter_assemble-Profile-89e4aa002af9d54cbc7d.json
build/.cmake/api/v1/reply/target-flutter_assemble-Release-89e4aa002af9d54cbc7d.json
build/.cmake/api/v1/reply/target-flutter_wrapper_app-Debug-5cc70904a64634630d00.json
build/.cmake/api/v1/reply/target-flutter_wrapper_app-Profile-37d994d373a2f42a1251.json
build/.cmake/api/v1/reply/target-flutter_wrapper_app-Release-b5cc95d73dcbf404cc96.json
build/.cmake/api/v1/reply/target-flutter_wrapper_plugin-Debug-234b4ab71932de72e189.json
build/.cmake/api/v1/reply/target-flutter_wrapper_plugin-Profile-b687294e4635f48859d4.json
build/.cmake/api/v1/reply/target-flutter_wrapper_plugin-Release-07fda67185c3746579fc.json
build/.cmake/api/v1/reply/target-foundcalc-Debug-1c3099f857bb211f8bb7.json
build/.cmake/api/v1/reply/target-foundcalc-Profile-1370273032297f5e1d2d.json
build/.cmake/api/v1/reply/target-foundcalc-Release-3db7e99af18d1b6fb0d6.json
build/.cmake/api/v1/reply/target-ZERO_CHECK-Debug-38d5a37ec4aa0cff7260.json
build/.cmake/api/v1/reply/target-ZERO_CHECK-Profile-38d5a37ec4aa0cff7260.json
build/.cmake/api/v1/reply/target-ZERO_CHECK-Release-38d5a37ec4aa0cff7260.json
build/.cmake/api/v1/reply/toolchains-v1-a911b2c98722819ac69b.json
build/CMakeFiles/cmake.check_cache
build/CMakeFiles/CMakeConfigureLog.yaml
build/CMakeFiles/generate.stamp
build/CMakeFiles/generate.stamp.depend
build/CMakeFiles/generate.stamp.list
build/CMakeFiles/TargetDirectories.txt
build/CMakeFiles/159c2d046649003a9ff75b90cff18b45/generate.stamp.rule
build/CMakeFiles/159c2d046649003a9ff75b90cff18b45/INSTALL_force.rule
build/CMakeFiles/3.28.0-msvc1/CMakeCXXCompiler.cmake
build/CMakeFiles/3.28.0-msvc1/CMakeDetermineCompilerABI_CXX.bin
build/CMakeFiles/3.28.0-msvc1/CMakeRCCompiler.cmake
build/CMakeFiles/3.28.0-msvc1/CMakeSystem.cmake
build/CMakeFiles/3.28.0-msvc1/VCTargetsPath.txt
build/CMakeFiles/3.28.0-msvc1/VCTargetsPath.vcxproj
build/CMakeFiles/3.28.0-msvc1/CompilerIdCXX/CMakeCXXCompilerId.cpp
build/CMakeFiles/3.28.0-msvc1/CompilerIdCXX/CompilerIdCXX.exe
build/CMakeFiles/3.28.0-msvc1/CompilerIdCXX/CompilerIdCXX.vcxproj
build/CMakeFiles/3.28.0-msvc1/CompilerIdCXX/Debug/CMakeCXXCompilerId.obj
build/CMakeFiles/3.28.0-msvc1/CompilerIdCXX/Debug/CompilerIdCXX.exe.recipe
build/CMakeFiles/3.28.0-msvc1/CompilerIdCXX/Debug/CompilerIdCXX.tlog/CL.command.1.tlog
build/CMakeFiles/3.28.0-msvc1/CompilerIdCXX/Debug/CompilerIdCXX.tlog/CL.read.1.tlog
build/CMakeFiles/3.28.0-msvc1/CompilerIdCXX/Debug/CompilerIdCXX.tlog/CL.write.1.tlog
build/CMakeFiles/3.28.0-msvc1/CompilerIdCXX/Debug/CompilerIdCXX.tlog/CompilerIdCXX.lastbuildstate
build/CMakeFiles/3.28.0-msvc1/CompilerIdCXX/Debug/CompilerIdCXX.tlog/link.command.1.tlog
build/CMakeFiles/3.28.0-msvc1/CompilerIdCXX/Debug/CompilerIdCXX.tlog/link.read.1.tlog
build/CMakeFiles/3.28.0-msvc1/CompilerIdCXX/Debug/CompilerIdCXX.tlog/link.write.1.tlog
build/CMakeFiles/3.28.0-msvc1/x64/Debug/VCTargetsPath.recipe
build/CMakeFiles/3.28.0-msvc1/x64/Debug/VCTargetsPath.tlog/VCTargetsPath.lastbuildstate
build/CMakeFiles/41b18abcb5bccfea660c0a5b1eaf634b/flutter_assemble.rule
build/CMakeFiles/41b18abcb5bccfea660c0a5b1eaf634b/INSTALL_force.rule
build/CMakeFiles/9dd7a1799e7ed153c6c7ff96cc73cabe/INSTALL_force.rule
build/CMakeFiles/c0a644ae7e80dcb96d821a810456ab2a/flutter_windows.dll.rule
build/flutter/cmake_install.cmake
build/flutter/flutter_assemble.vcxproj
build/flutter/flutter_assemble.vcxproj.filters
build/flutter/flutter_wrapper_app.vcxproj
build/flutter/flutter_wrapper_app.vcxproj.filters
build/flutter/flutter_wrapper_plugin.vcxproj
build/flutter/flutter_wrapper_plugin.vcxproj.filters
build/flutter/INSTALL.vcxproj
build/flutter/INSTALL.vcxproj.filters
build/flutter/CMakeFiles/generate.stamp
build/flutter/CMakeFiles/generate.stamp.depend
build/runner/ALL_BUILD.vcxproj
build/runner/ALL_BUILD.vcxproj.filters
build/runner/cmake_install.cmake
build/runner/foundcalc.vcxproj
build/runner/foundcalc.vcxproj.filters
build/runner/INSTALL.vcxproj
build/runner/INSTALL.vcxproj.filters
build/runner/runner.sln
build/runner/CMakeFiles/generate.stamp
build/runner/CMakeFiles/generate.stamp.depend
foundcalc/flutter_01.png
